# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

- hosts: bastion
  roles:
    - role: hashicorp.nomad_bench.common

    - role: gantsign.golang
      vars:
        golang_gopath: "/home/{{ ansible_user_id }}/go"
        golang_version: "1.26.0"
        golang_redis_sha256sum: "aac1b08a0fb0c4e0a7c1555beb7b59180b05dfc5a3d62e40e9de90cd42f88235"
        golang_mirror: https://go.dev/dl

    - role: hashicorp.nomad_bench.influxdb_telegraf
      vars:
        influxdb_telegraf_input_nomad_enabled: false
        influxdb_telegraf_output_token: "{{ terraform_influxdb_token }}"
        influxdb_telegraf_output_organization: "nomad-eng"
        influxdb_telegraf_output_bucket: "bastion"
        # Hack to make the Terraform dynamic inventory plugin work with complex types.
        influxdb_telegraf_output_urls: "{{ terraform_influxdb_telegraf_output_urls_json | ansible.builtin.from_json }}"

    - role: hashicorp.nomad_bench.build
      vars:
        build_user: "{{ lookup('env', 'USER') }}"
