# Terraform state files and storage.
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.tfstate.lock*

# Generated SSH keys.
keys/
tls/

# Generated Ansible inventory files.
inventory.ini
*_inventory.ini

# Python virtual environment.
.venv
