# Terraform state files and storage.
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.tfstate.lock*

# Generated SSH keys.
keys/
tls/

# Python virtual environment.
.venv

# Test cluster nodesim jobs.
**/*/jobs/nomad-nodesim-*
