region   = "{{ nomad_region }}"
data_dir = "{{ nomad_data_dir }}"

log_level            = "{{ nomad_log_level | upper }}"
log_json             = {{ nomad_log_json | lower }}
log_include_location = {{ nomad_log_include_location | lower }}
log_file             = "{{ nomad_log_file }}"

enable_debug = {{ nomad_enable_debug | lower }}

limits {
  https_handshake_timeout   = "{{ nomad_limits_https_handshake_timeout }}"
  http_max_conns_per_client = {{ nomad_limits_http_max_conns_per_client }}
  {% if nomad_server_enabled %}
  rpc_handshake_timeout     = "{{ nomad_limits_rpc_handshake_timeout }}"
  rpc_max_conns_per_client  = {{ nomad_limits_rpc_max_conns_per_client }}
  {% endif %}
}

telemetry {
  publish_allocation_metrics = {{ nomad_telemetry_publish_allocation_metrics | lower }}
  publish_node_metrics       = {{ nomad_telemetry_publish_node_metrics | lower }}
  prometheus_metrics         = {{ nomad_telemetry_prometheus_metrics | lower }}

  {% if nomad_telemetry_in_memory_collection_interval != "" %}
  in_memory_collection_interval = "{{ nomad_telemetry_in_memory_collection_interval }}"
  {% endif %}
  {% if nomad_telemetry_in_memory_retention_period != "" %}
  in_memory_retention_period = "{{ nomad_telemetry_in_memory_retention_period }}"
  {% endif %}
}

acl {
  enabled = {{ nomad_acl_enabled | lower }}
}
