[Unit]
Description=Nomad
Documentation=https://www.nomadproject.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
User={{ nomad_user }}
Group={{ nomad_group }}

ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ nomad_install_dir }}/nomad agent -config {{ nomad_config_dir }}
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
