tls {
  http                   = true
  rpc                    = true
  verify_server_hostname = false
  verify_https_client    = false

  ca_file   = "{{ nomad_config_dir }}/tls/ca.pem"
  cert_file = "{{ nomad_config_dir }}/tls/cert.pem"
  key_file  = "{{ nomad_config_dir }}/tls/cert-key.pem"
}
