[[inputs.nomad]]
url = "{{ influxdb_telegraf_input_nomad_url }}"

[[outputs.influxdb_v2]]
urls         = {{ influxdb_telegraf_output_urls }}
token        = "{{ influxdb_telegraf_output_token }}"
organization = "{{ influxdb_telegraf_output_organization }}"
bucket       = "{{ influxdb_telegraf_output_bucket }}"

[[inputs.mem]]

[[inputs.cpu]]
collect_cpu_time = true
report_active    = true
core_tags        = true

[[inputs.diskio]]

[[inputs.kernel]]

[[inputs.net]]
